

.question {
    page-break-inside: avoid;
}

.title
{
    font-weight: 200;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0 ;
    text-align: center;
    justify-content: center;
    background-color: #222E4F;
    width: 21cm;
    height: 2cm;
    color: white;
    
}
.header
{
  
    background-color: white;
    height: 1.5cm;
    width: 21cm;
}

.footer
{
    
    padding-top: auto;
    margin-top:auto;
    margin-bottom: 0.5cm;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    color: rgb(0, 0, 0);
    border-top: black solid 0.05cm; 
    
}



html {
    direction: rtl;
    font-family: "Hacen Maghreb Bd";
    margin: 0px;
    font-size: 12pt;
    
}

h2,
p {

    font-size: 12pt;
    font-family: "Hacen Maghreb Bd";
    margin: 0px;

}

.barandquestions {
    display: flex;
    flex-direction: row;
    /* height: 500px; */
    width: 21cm;
}

.questions {

    /* position: relative; */
    /* left: 15px; */
    /* width: 21cm; */
    padding: 1.5cm 1.5cm 0cm 1.5cm;
    box-sizing: border-box;
    width: 21cm;

}

.question {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    page-break-inside: avoid;
    border: solid 0.04cm ;
    border-radius: 0.25cm;
    /* overflow: auto; */
    /* resize: both; */
    /* max-width:max-content; */
    justify-content: flex-start;
    align-items: center;
}

.picdiv
{
    /* margin-right: auto; */
    margin: 0.2cm auto 0.2cm 0.2cm;
    max-width: 7cm ;
    max-height: 7cm;
    width: 7cm; /* Initial width */
    height: auto; /* Maintain aspect ratio */
    overflow: hidden; /* Allow scrolling if image overflows */
    resize: both; /* Allow resizing */
    border: 1px solid #ccc; /* Border for visual clarity */
    border: none !important;
    outline: none !important;
    direction: ltr;
}

.questionpic {
    box-sizing: border-box;
    
    width: 100%; /* Ensure image fills container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper layout */

}
.bar {

    height: auto;
    width: 2cm;

    background-color: #FEF9CD;
    border-left: solid #222E4F 0.07cm;

}

.Div {
    margin: 0cm 0.1cm auto 0cm;
    margin-right: 0.1cm;
    width: fit-content;
    /* resize: both; */
    /* overflow: auto; */
    left: 0.4cm;
}


h2 {
    margin-top: 0.1cm;
}


.questionNumberBox {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -15px;
    height: 0cm;
}
.svg
{
  width: 0.7cm;
}
.innerbox {
    position: relative;
    bottom: 0.8cm;
    right: 0.0cm;
    text-align: center;
    color: white;
    font-family: "hacen maghreb";
    -webkit-text-stroke: #203158 0.4pt;
    font-size: 14pt;
    paint-order: stroke fill;
    
}



.line {
    width: 50%;
    background-color: black;
    height: 1px;
    margin: auto;
    margin-top: 10px;
}

.a4 {
    width: 21cm;
    height: 29.7cm;
    background-color: #BE1818;
    margin: 0cm;
}

body {
    margin: 0cm;
    /* background-color: grey; */
    counter-reset: page;
    
}

.letter {
    border: 0.05cm solid #252D4F;
    border-radius: 1cm;
    width: 0.47cm;
    height: 0.47cm;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.1cm;
    margin-right: 0.3cm;
}

.options {
    display: flex;
    flex-wrap: wrap;

}

.option {
    display: flex;
    margin-left: 0.3cm;
    width: auto;
    /* background-color: aqua; */
}

.answer {
    width: fit-content;
}

.questiontext
{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,163,196,1) 100%);
    border-radius: 0.35cm;
    padding: 0.03cm 0.2cm 0.03cm 0.2cm;
    margin: 0.15cm;
}